In [60]:
from urllib.request import urlopen, Request

In [61]:
import urllib

In [62]:
# KAKAOREST API 키: 
KAKAO_REST_API_KEY = '1f7f4bf7072089d44c9745c77a86e2a0'
URL_BASE = 'https://dapi.kakao.com/v2/search/web'
# 한글을 웹으로 전송시 인코딩 처리한다
# '문자열'.encode("utf-8")
PARAMS = 'query=%s&page=1&size=50'% urllib.parse.quote('서가대')
HEADER = 'KakaoAK %s' % KAKAO_REST_API_KEY
PARAMS

'query=%EC%84%9C%EA%B0%80%EB%8C%80&page=1&size=50'

In [63]:
# 헤더 설정
url = '%s?%s'% (URL_BASE, PARAMS)
url

'https://dapi.kakao.com/v2/search/web?query=%EC%84%9C%EA%B0%80%EB%8C%80&page=1&size=50'

In [64]:
request = Request(url)

In [65]:
request.add_header("Authorization",HEADER)

### http 요청
 - 테스트

In [105]:
response= urlopen( request )

In [106]:
# 응답 결고를 Json으로 파싱
import json

In [107]:
tmp = json.load ( response )

### 데이터 추출

In [108]:
tmp['documents'] [0]['title']

'서울가요대상 - 나무위키'

In [109]:
tmp['documents'] [0].keys()
dick_keys(['datetime','contents','title','url'])

NameError: name 'dick_keys' is not defined

In [110]:
for i in range(len(tmp['documents'])): 
    # <b></b> 제거
    print(tmp['documents'] [i]['title'].replace('<b>','').replace('</b>',''))

서울가요대상 - 나무위키
[MAXIM KOREA] 무리수 의상으로 실검 올킬한 서가대 MC 한초임 (너무 추워..ㄷㄷㄷ) - 1boon
서가대(서울가요대상) 김새론, 스카이캐슬 김보라와 절친 인증샷 '화제'
'빵야TV', 홈페이지 '마비'..네티즌 '서가대 중계 이럴거면 하지마' '불만 폭주'
[2019 서가대] 마마무, 본상 수상.."새해 복 많이 받으세요~"
‘서가대’ 방탄소년단 “새 앨범 준비 중” 깜짝 발표…후배 TXT 챙기기 ‘눈길’
"'서가대' 드레스, 코디 없이 직접 리폼했다" ('카밀라' 한초임)
‘서가대’ 우도환, 레드벨벳 조이 응원 “좋은 음악으로 행복하게 해주세요”
[2019 서가대] 스트레이키즈, 특별 무대..시선 강탈 '카리스마'
'서가대' 스페셜 게스트 이름 올린 안현모, "나나와 함께 갑니다"
빵야tv, 후끈 달아오르는 '서가대' 현장 그대로...팬심이 술렁인다
서가대 가구 싶누 ㅠㅠ - 마마무 갤러리
씨제이 택배의 무책임한 행동. 서가대 티켓 분실.
안현모·나나 '서가대' 무대 나란히 선다…"스페셜 게스트 이름 올려"
[국제포토] 워너원 박지훈 ‘뭐? 뽀뽀하자고?’ (서가대, 2019 서울가요대상)
‘서가대’ 한초임 누구? #러브캐처 #카밀라 리더 #소속사 대표
이대휘 서가대 청초한듯 귀여운 프리뷰
골디랑 서가대 역대 대상이래
[기사]서가대 엔딩 흥부자랑 인별 4개 모아왔오 - 강다니엘 갤러리
'서가대', 글로벌 인기 누리는 무대 보려면 어디로
한초임, 서가대 레드카펫 역대급 노출女…"too much!"
‘서가대‘ 한초임, 거친 숨 부른 은밀한 시스루? “MC 솜씨는…사타구니 라인만 강조돼”
‘서가대’ 한초임, 파격 시스루 드레스로 레드카펫 시선 집중! ‘깜짝!’
작년 서가대 존나 쩔었던 내돌을 봐줘 (ㅈㅇ 박지훈)
[M+현장] '파격 그 자체' 한초임, '서가대' 밀어내고 검색어 1위 '핫스타'
[2019 서울가요대상(서가대)] 방탄소년단(BTS), ‘본상’-‘최고 앨범상’-‘대상’ 수상…‘3관왕에 빛나는...
카밀라 한초임, '서가대' 사로잡은 시스루 드레스 '아찔'
'서가대' 한초임, 아슬아슬한 의상 선보여…"살색이 너무 많은 것 같다"
오늘의유머 - 우리 아이들 서가대 신인상 탔어요!!!! gif
타임머신] '서가대' 1회 대상 주인공, 누구였을까요? - 1boon
[예인잡담] 엑소 백현 서가대 메이크업
하이원 서가대 아이즈원 신인상.gif
[인티포털] 오늘 서가대 인기상으로 총 14번의 인기상을 탄 그룹
[걸그룹] 아이즈원은 서가대에서도 립싱크무대 했네요
'결혼' 클라라, 서가대로 한국 연예활동 시작 …신혼집은 롯데 시그니엘 레지던스
오늘의유머 - 오늘 서가대 생중계 빵야 tv 정체
ㅇㅎㅂ) 예의바른 서가대 MC
[HD테마] 시상식서 ‘완벽 비주얼’로 별명 얻은 ★…‘서가대 버건디’ 엑소(EXO) 백현-‘차문남’ 방탄소년단...
아이즈원] 서가대 신인상 3팀 받는데 남2,여1 받을 수도 있죠?
설인아, '서가대' 출신의 몸매 관리 비법은?
딸의 소원' 방탄소년단, "서가대 이전 만난 전설적 액션 스타 견자단...사진교환의 사연은?"
'서가대' 백현, 올해는 어떤 '레전드' 메이크업 선보일지...'서가대 백현 메이크업' 눈길
함춘서재에 시각장애인용 서가대 등장
서가대 카밀라 한초임의 노출정도
‘2019 서가대’ BTS 대상 수상, 시청률 급상승…10대 女 가장 많이 봤다
‘서가대’ 임창정 “내년에는 내가 만든 후배들이 상 받도록 도전”
아이즈원이 남은 가온 골디 서가대 신인상 유력이유
카밀라 한초임 vs 서가대 한초임, 동일 인물 맞아?
서가대 김준수 연인 하니, 아슬아슬 섹시미 과시한 화보 '시선올킬'
박원순 시장, 김준수 언급…“서가대 사태 재발시 명칭후원 중단”

### 데이터 적재
- 데이터베이스에 데이터를 넣는다
* pandas를 이용하면 데이터를 덩어리채로 넣을 수 있다
- 알던 여기서는 pymysql을 이용하여 데이터를 적재하겠다
> 콘다 프럼프트 오프  
> **pip install pymysql**  
> 콘다 미설치자분들  
> **pip install pymysql**  
  **pip install pandas**

In [124]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import pandas.io.sql as pSql

In [125]:
# 연결
db_url = 'mysql+pymysql://root:12341234@127.0.0.1/python_db'
engine = create_engine( db_url, encoding='utf-8')

In [129]:
# 실연결
conn =engine.connect()

In [127]:
# 데이터 획득 : dataFrame =>df
df = pSql.read_sql('select * from tbl_trade', conn)
df

,code,name,cur,rate,updown,amount,sum,cur2,high,low,tAmount,ta_per,ta_cnt,for_cnt,for_per
0,005930,삼성전자,"2,861,000","107,000",3.9,"290,205","827,303,909,524","2,875,000","2,875,000","2,809,000","371,267,661,334,000",19.44,"129,768,494",,
1,000660,SK하이닉스,"85,300","3,100",3.8,"7,067,296","601,022,658,680","86,000","86,000","84,000","62,098,601,734,500",3.25,"728,002,365",,
2,005935,삼성전자우,"2,335,000","95,000",4.2,"58,951","137,238,577,152","2,336,000","2,359,000","2,301,000","43,007,384,300,000",2.25,"18,418,580",,
3,005380,현대차,"160,500",-500,-0.3,"601,287","96,579,433,000","159,000","162,000","158,500","35,354,374,879,500",1.85,"220,276,479",,
4,051910,LG화학,"414,500","11,000",2.7,"336,389","138,834,795,264","407,000","419,000","405,500","29,260,526,173,500",1.53,"70,592,343",,
5,028260,삼성물산,"149,500","1,500",1.0,"535,848","79,748,333,000","149,500","150,000","147,000","28,358,661,428,500",1.48,"189,690,043",,
6,035420,NAVER,"860,000","-34,000",-3.8,"232,078","200,397,947,000","870,000","879,000","853,000","28,347,903,940,000",1.48,"32,962,679",,
7,005490,POSCO,"324,000","-1,500",-0.5,"321,169","103,486,430,500","320,500","325,500","320,000","28,248,534,540,000",1.48,"87,186,835",,
8,032830,삼성생명,"137,500","2,500",1.8,"477,774","65,072,851,500","133,000","138,000","132,500","27,500,000,000,000",1.44,"200,000,000",,
9,207940,삼성바이오로직스,"406,000","22,000",5.7,"387,331","153,973,945,000","387,000","408,000","385,500","26,862,990,000,000",1.41,"66,165,000",,
10,015760,한국전력,"38,550",-650,-1.7,"1,560,555","60,148,655,350","38,700","39,000","38,300","24,747,715,168,350",1.30,"641,964,077",,
11,105560,KB금융,"59,000",600,1.0,"1,626,966","95,431,393,486","57,800","59,200","57,600","24,668,580,683,000",1.29,"418,111,537",,
12,055550,신한지주,"50,200",0,0.0,"794,886","39,720,432,900","49,450","50,600","49,450","23,804,819,267,400",1.25,"474,199,587",,
13,017670,SK텔레콤,"263,500",-500,-0.2,"114,066","29,988,293,500","260,500","265,500","260,500","21,276,494,848,500",1.11,"80,745,711",,
14,068270,셀트리온,"171,900","-1,200",-0.7,"1,274,979","221,783,055,900","173,700","178,000","170,700","21,080,994,661,800",1.10,"122,635,222",,
15,034730,SK,"296,000","6,500",2.2,"145,270","42,765,403,500","286,500","297,000","285,000","20,826,647,912,000",1.09,"70,360,297",,
16,096770,SK이노베이션,"207,500","2,500",1.2,"257,641","52,945,739,000","203,000","207,500","202,500","19,186,604,530,000",1.00,"92,465,564",,
17,051900,LG생활건강,"1,161,000","-16,000",-1.4,"35,929","41,808,205,000","1,158,000","1,178,000","1,152,000","18,132,726,717,000",0.95,"15,618,197",,
18,090430,아모레퍼시픽,"307,500","-6,500",-2.1,"419,931","131,173,498,500","316,500","318,500","305,000","17,975,985,675,000",0.94,"58,458,490",,
19,018260,삼성에스디에스,"209,000","2,000",1.0,"214,919","44,772,055,000","204,500","211,500","204,000","16,171,960,200,000",0.85,"77,377,800",,
20,006400,삼성SDI,"224,500","18,500",9.0,"1,325,337","292,863,845,000","220,000","224,500","215,000","15,437,636,985,000",0.81,"68,764,530",,
21,066570,LG전자,"92,300","1,300",1.4,"1,413,470","130,653,982,700","91,100","93,400","90,600","15,104,693,232,200",0.79,"163,647,814",,
22,003550,LG,"87,100","1,100",1.3,"404,221","34,975,151,000","83,700","87,200","83,500","15,029,726,110,100",0.79,"172,557,131",,
23,251270,넷마블게임즈,"172,000","-2,000",-1.2,"233,214","40,044,528,000","172,000","173,500","170,000","14,623,166,864,000",0.77,"85,018,412",,
24,010950,S-Oil,"129,000",500,0.4,"220,208","28,306,278,853","128,000","129,500","127,000","14,523,180,168,000",0.76,"112,582,792",,
25,033780,KT&G,"105,500",-500,-0.5,"557,493","58,583,832,263","105,000","106,000","104,500","14,484,358,433,500",0.76,"137,292,497",,
26,000270,기아차,"35,350",-50,-0.1,"879,238","30,904,554,200","34,800","35,400","34,700","14,329,594,316,450",0.75,"405,363,347",,
27,086790,하나금융지주,"47,900",-50,-0.1,"968,279","46,224,681,850","47,200","48,300","47,200","14,178,546,669,800",0.74,"296,003,062",,
28,011170,롯데케미칼,"376,500","7,000",1.9,"194,924","73,191,170,000","368,500","378,500","368,500","12,904,695,253,500",0.68,"34,275,419",,
29,000810,삼성화재,"267,500","-5,500",-2.0,"231,406","61,963,147,000","270,000","273,000","266,000","12,672,768,897,500",0.66,"47,374,837",,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256,189350,코셋,"1,040",134,14.8,6,"5,790",950,"1,040",950,"4,160,000,000",0.00,"4,000,000",,
2257,252940,에스엠로보틱스,"2,000",180,9.9,711,"1,112,150","1,560","2,000","1,560","4,150,000,000",0.00,"2,075,000",,
2258,001527,동양2우B,"13,300",-150,-1.1,"1,652","21,792,550","13,700","13,700","13,100","4,103,967,700",0.00,"308,569",,
2259,005965,동부건설우,"17,900",-750,-4.0,"8,556","154,092,450","18,650","18,700","17,700","4,040,602,800",0.00,"225,732",,
2260,004985,성신양회우,"5,430",0,0.0,"1,353","7,277,440","5,500","5,500","5,250","3,994,552,350",0.00,"735,645",,
2261,001067,JW중외제약2우B,"47,250",700,1.5,"9,113","426,401,500","46,300","47,650","45,500","3,989,648,250",0.00,"84,437",,
2262,032685,소프트센우,"26,950",700,2.7,"4,728","124,600,600","26,500","26,950","25,750","3,849,996,150",0.00,"142,857",,
2263,000325,노루홀딩스우,"20,450","-1,150",-5.3,"7,405","150,779,000","21,000","21,000","20,100","3,788,362,500",0.00,"185,250",,
2264,000227,유유제약2우B,"22,250","1,100",5.2,"65,260","1,436,071,150","21,000","23,200","20,500","3,650,780,000",0.00,"164,080",,
2265,013367,일성건설2우B,"5,750",-30,-0.5,"196,195","1,137,278,160","5,730","6,080","5,550","3,572,130,000",0.00,"621,240",,
2266,016385,동부제철우,"21,900",950,4.5,"2,403","50,977,250","21,000","21,900","20,700","3,511,314,600",0.00,"160,334",,
2267,002785,진흥기업우B,"4,070",20,0.5,647,"2,608,075","4,100","4,120","3,975","3,488,877,260",0.00,"857,218",,
2268,135270,세종머티리얼즈,919,89,10.7,7,"5,443",919,919,721,"3,354,350,000",0.00,"3,650,000",,
2269,271400,알로이스,"3,350",0,0.0,0,0,0,0,0,"3,316,500,000",0.00,"990,000",,
2270,001799,대한제당3우B,"25,400",-50,-0.2,52,"1,323,200","25,400","25,450","25,400","3,293,262,400",0.00,"129,656",,
2271,008355,남선알미우,"10,250","-1,050",-9.3,"115,517","1,208,852,150","11,400","11,400","10,200","3,155,872,500",0.00,"307,890",,
2272,002787,진흥기업2우B,"9,280",20,0.2,"14,781","136,319,840","9,340","9,440","9,090","2,735,818,240",0.00,"294,808",,
2273,179720,옐로페이,232,0,0.0,81,"18,656",198,232,198,"2,610,000,000",0.00,"11,250,000",,
2274,004989,성신양회3우B,"8,680",180,2.1,144,"1,226,900","8,490","8,680","8,360","2,490,274,640",0.00,"286,898",,
2275,267810,앙츠,"15,800",300,1.9,101,"1,515,800","15,000","15,800","15,000","2,444,260,000",0.00,"154,700",,
2276,272420,극동자동화,"4,815",0,0.0,0,0,0,0,0,"2,407,500,000",0.00,"500,000",,
2277,004987,성신양회2우B,"10,900",100,0.9,"20,733","224,370,950","11,000","11,000","10,600","2,405,553,700",0.00,"220,693",,
2278,001529,동양3우B,"26,050",400,1.6,572,"14,905,700","25,800","26,100","25,800","2,337,258,100",0.00,"89,722",,
2279,260490,캐로스,"1,275",0,0.0,0,0,0,0,0,"2,316,037,500",0.00,"1,816,500",,
2280,208890,에듀케이션파트너,"1,130",0,0.0,"1,572","2,034,750","1,130","1,295","1,130","2,249,626,600",0.00,"1,990,820",,
2281,242850,영현무역,"1,315",130,11.0,"4,923","5,805,615","1,175","1,315","1,175","2,130,300,000",0.00,"1,620,000",,
2282,189540,씨티네트웍스,711,-83,-10.4,987,"897,157",794,910,676,"1,564,192,890",0.00,"2,199,990",,
2283,183410,데카시스템,400,20,5.3,"1,412","616,308",323,437,323,"1,558,478,400",0.00,"3,896,196",,
2284,110660,세신버팔로,191,-33,-14.7,"33,923","6,479,293",191,191,191,"1,146,000,000",0.00,"6,000,000",,
2285,144740,피엠디아카데미,167,21,14.4,2,334,167,167,167,"290,171,518",0.00,"1,737,554",,0

In [128]:
# 해제
conn.close()