In [73]:
import pandas as pd
import numpy as np

In [74]:
df.to_excel('./grade.xlsx')

In [75]:
df1=pd.read_excel('grade.xlsx')
df1

       년도      남아수      여아수
0    1880    90993   110491
1    1881    91954   100745
2    1882   107850   113688
3    1883   112321   104629
4    1884   129022   114445
5    1885   133055   107800
6    1886   144535   110784
7    1887   145982   101414
8    1888   178627   120853
9    1889   178366   110584
10   1890   190377   111025
11   1891   185482   101196
12   1892   212346   122037
13   1893   212906   112317
14   1894   222922   115772
15   1895   233630   117398
16   1896   237920   119570
17   1897   234202   112758
18   1898   258770   122693
19   1899   233023   106212
20   1900   299828   150499
21   1901   239348   106471
22   1902   264077   122659
23   1903   261973   119234
24   1904   275371   128125
25   1905   291629   132319
26   1906   295303   133159
27   1907   318566   146833
28   1908   334313   154344
29   1909   347228   163999
..    ...      ...      ...
102  1982  1692678  1813970
103  1983  1670061  1791732
104  1984  1682973  1803830
105  1985  1720036  1847032
106  1986  1714664  1840164
107  1987  1737891  1865662
108  1988  1779839  1912602
109  1989  1843105  1999999
110  1990  1897709  2052543
111  1991  1874434  2019463
112  1992  1843304  1996388
113  1993  1808379  1960397
114  1994  1785074  1931157
115  1995  1757927  1902832
116  1996  1752249  1893378
117  1997  1739806  1884122
118  1998  1765915  1910250
119  1999  1772632  1918809
120  2000  1814601  1962406
121  2001  1799049  1941251
122  2002  1795206  1939815
123  2003  1825359  1973434
124  2004  1834145  1982794
125  2005  1845379  1994841
126  2006  1898463  2052377
127  2007  1919408  2072139
128  2008  1887234  2036289
129  2009  1832925  1979303
130  2010  1772738  1913851
131  2011  1753500  1893230

[132 rows x 3 columns]

In [127]:
df = pd.read_table('births.txt',sep=',',index_col=0, header=None)
df.columns=['남아수','여아수']
df.index.name="년도"
df.head()

TypeError: 'method' object is not subscriptable

SSMC 연습문제

1. 남아수 총합을 구하시오.
2. 여아수 평균을 구하시오.
3. 남아수가 가장 많은 년도와 남아수를 구하시오
4. 2000년도 이후 데이터를 구하시오
5. 1995~2000년도 데이터를 구하시오
6. 남아 출생이 가장 많은 top5를 구하시오(년도와 남아수)
7. 남아율(%) 컬럼을 추가하고 남아수가 차지하는 비율을 보여주시오 예, 50, 70 등
8. 2000년도 이후 데이터에 대해 남아수 출생량 컬럼을 추가하고 1,800,000 이상이면 많음, 아니면 적음이라고 보여주시오.
9. 1800년대, 1900년대, 2000년대 각 남아수, 여아수 평균을 구하시오
10.

In [50]:
df['남아수'].sum()            #1

161802441

In [113]:
df['여아수'].mean()           #2

1245399.2121212122

In [116]:
#df['남아수'].idxmax(), df['남아수'].max()          #3
df[df['남아수']==df['남아수'].max()]['남아수']

년도
1957    2044160
Name: 남아수, dtype: int64

In [80]:
df.loc['2000':]               #4

          남아수      여아수
년도
2000  1814601  1962406
2001  1799049  1941251
2002  1795206  1939815
2003  1825359  1973434
2004  1834145  1982794
2005  1845379  1994841
2006  1898463  2052377
2007  1919408  2072139
2008  1887234  2036289
2009  1832925  1979303
2010  1772738  1913851
2011  1753500  1893230

In [78]:
df.loc['1995':'2000']              #5

          남아수      여아수
년도
1995  1757927  1902832
1996  1752249  1893378
1997  1739806  1884122
1998  1765915  1910250
1999  1772632  1918809
2000  1814601  1962406

In [117]:
df.sort_values(by='남아수', ascending=False)[:5]['남아수'] #6

년도
1957    2044160
1959    2023044
1960    2022093
1961    2017316
1958    2010884
Name: 남아수, dtype: int64

In [119]:
df2=df
df2['남아율'] = df2['남아수']/df2.sum(axis=1)                #7
df2

          남아수      여아수       남아율
년도
1880    90993   110491  0.451613
1881    91954   100745  0.477189
1882   107850   113688  0.486823
1883   112321   104629  0.517727
1884   129022   114445  0.529936
1885   133055   107800  0.552427
1886   144535   110784  0.566095
1887   145982   101414  0.590073
1888   178627   120853  0.596456
1889   178366   110584  0.617289
1890   190377   111025  0.631637
1891   185482   101196  0.647004
1892   212346   122037  0.635037
1893   212906   112317  0.654645
1894   222922   115772  0.658180
1895   233630   117398  0.665559
1896   237920   119570  0.665528
1897   234202   112758  0.675011
1898   258770   122693  0.678361
1899   233023   106212  0.686906
1900   299828   150499  0.665800
1901   239348   106471  0.692118
1902   264077   122659  0.682835
1903   261973   119234  0.687219
1904   275371   128125  0.682462
1905   291629   132319  0.687888
1906   295303   133159  0.689216
1907   318566   146833  0.684500
1908   334313   154344  0.684146
1909   347228   163999  0.679205
...       ...      ...       ...
1982  1692678  1813970  0.482705
1983  1670061  1791732  0.482427
1984  1682973  1803830  0.482669
1985  1720036  1847032  0.482199
1986  1714664  1840164  0.482348
1987  1737891  1865662  0.482271
1988  1779839  1912602  0.482022
1989  1843105  1999999  0.479588
1990  1897709  2052543  0.480402
1991  1874434  2019463  0.481377
1992  1843304  1996388  0.480066
1993  1808379  1960397  0.479832
1994  1785074  1931157  0.480345
1995  1757927  1902832  0.480208
1996  1752249  1893378  0.480644
1997  1739806  1884122  0.480088
1998  1765915  1910250  0.480369
1999  1772632  1918809  0.480201
2000  1814601  1962406  0.480434
2001  1799049  1941251  0.480991
2002  1795206  1939815  0.480641
2003  1825359  1973434  0.480510
2004  1834145  1982794  0.480528
2005  1845379  1994841  0.480540
2006  1898463  2052377  0.480521
2007  1919408  2072139  0.480868
2008  1887234  2036289  0.481005
2009  1832925  1979303  0.480801
2010  1772738  1913851  0.480861
2011  1753500  1893230  0.480842

[132 rows x 3 columns]

In [123]:
# 8. 2000년도 이후 데이터에 대해 남아수 출생량 컬럼을 추가하고 1,800,000 이상이면 많음, 아니면 적음이라고 보여주시오.
df3 = df.loc['2000':]
df3['출생량'] = df3['남아수'].apply(lambda n: '많음' if n >= 1800000 else '적음')
df3[['남아수', '출생량']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          남아수 출생량
년도
2000  1814601  많음
2001  1799049  적음
2002  1795206  적음
2003  1825359  많음
2004  1834145  많음
2005  1845379  많음
2006  1898463  많음
2007  1919408  많음
2008  1887234  많음
2009  1832925  많음
2010  1772738  적음
2011  1753500  적음

In [125]:
# 9. 1800년대, 1900년대, 2000년대 각 남아수, 여아수 평균을 구하시오
df4 = [ df.loc['1800':'1899'].mean(), df.loc['1900':'1999'].mean(), df.loc['2000':].mean() ]
df4 = pd.DataFrame(df4, index=['1800년대', '1900년대', '2000년대'])
df4=df4[['남아수', '여아수']]
df4

                 남아수         여아수
1800년대  1.767141e+05   111820.55
1900년대  1.362902e+06  1384145.55
2000년대  1.831501e+06  1978477.50