In [9]:
import pandas as pd
import numpy as np

In [10]:
data={'kor':[80,30,50,70],'eng':[20,90,90,80],
     'math':[33,44,55,66]}  #키값이 리스트인 경우
df =pd.DataFrame(data,index=['aa','bb','cc','dd'])
df

    kor  eng  math
aa   80   20    33
bb   30   90    44
cc   50   90    55
dd   70   80    66

In [11]:
def fn(v):
    print('===')
    print(v)
    return v.sum()
   # return v[0] #v['aa'] 
#v 는 시리즈다 각 col

In [12]:
df.apply(fn)

===
aa    80
bb    30
cc    50
dd    70
Name: kor, dtype: int64
===
aa    20
bb    90
cc    90
dd    80
Name: eng, dtype: int64
===
aa    33
bb    44
cc    55
dd    66
Name: math, dtype: int64

kor     230
eng     280
math    198
dtype: int64

In [22]:
def fn1(v):
    print('===')
    print(v)
    return v.sum()
#     return v[0]

In [23]:
# df.apply(fn)
df.apply( lambda v:v.sum())

kor     230
eng     280
math    198
dtype: int64

In [26]:
df.apply( lambda v:"이상" if v[0]>=50 else '이하', axis=1)

aa    이상
bb    이하
cc    이상
dd    이상
dtype: object

In [28]:
#df.apply( fn1, axis=1)
df.apply( lambda v:v.sum(),axis=1)

aa    133
bb    164
cc    195
dd    216
dtype: int64

In [31]:
for n in df:
    print(n)

kor
eng
math

In [ ]:
d={'aa':10, 'bb':20}
print( '%(aa)d%(bb)d'%d)

In [38]:
for idx, v in df.items():
    print(idx,'%d %d %d'%(v[0],v[1],v[2]))  # 튜플 첫번째 col명 , 두번째는 시리즈
    print(idx, '%d %d %d'%(v['aa'],v['bb'],v['cc']))
    print(idx,'%(aa)d %(bb)d %(cc)d'%v)

kor 80 30 50
kor 80 30 50
kor 80 30 50
eng 20 90 90
eng 20 90 90
eng 20 90 90
math 33 44 55
math 33 44 55
math 33 44 55

In [43]:
for idx,v in df.iterrows():
    print(idx,'%d %d %d '%(v[0],v[1],v[2]))
    #print(idx, '%d %d %d'%(v['kor'],v['eng'],v['math']))

aa 80 20 33
aa 80 20 33
bb 30 90 44
bb 30 90 44
cc 50 90 55
cc 50 90 55
dd 70 80 66
dd 70 80 66