In [6]:
import pandas as pd
import numpy as np

In [16]:
sr=pd.Series([10,20,30,40], index=['aa','bb','cc','dd'])
sr1=pd.Series([1,2,3,4], index=['aa','bb','cc','dd'])

In [17]:
sr.aa  # 가능하면 -> sr['aa']  문자열로 부여된것은 마치 속성처럼 쓸 수 있다. 단, 시리즈객체 속성하고 겹칠 수 있으니 조심

10

In [18]:
sr+2 # 리스트는 +2 불가하지만 시리즈는 요로코롬 가능

aa    12
bb    22
cc    32
dd    42
dtype: int64

In [19]:
sr*2

aa    20
bb    40
cc    60
dd    80
dtype: int64

In [21]:
sr*sr1

aa     10
bb     40
cc     90
dd    160
dtype: int64

In [24]:
#문제 세금3.3을 제한 실수령을 구하시오
salalry = pd.Series([1000,2000,3000,4000])
salalry

0    1000
1    2000
2    3000
3    4000
dtype: int64

In [26]:
salalry*0.967

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [28]:
#boolean indexing..               # True에 해당되는 값만 얻어온다
sr[ [True,False,False,True] ]

aa    10
dd    40
dtype: int64

In [33]:
sr>20     # 개별 데이터에 대해서 TRUE,FASLE를 리턴하다
#sr[sr>20]     # = sr[Fasle,Fasle,True,True]

aa    False
bb    False
cc     True
dd     True
dtype: bool

In [34]:
# and or
#sr [ (sr == 20) | (sr == 40) ]  # | = or  
sr [ (sr >= 20) & (sr <= 40) ]  #  & = and   #20 <= sr <=40 (이건 파이썬에서만 가능, 시리즈는 and(&) 써줘야 한다

bb    20
cc    30
dd    40
dtype: int64

In [38]:
# not = ~
#sr[ ~(sr ==20) ]
#sr[ sr!=20]  # 다 같은 표현
sr[ ~(sr<=20)]

cc    30
dd    40
dtype: int64

In [47]:
sr[sr.index.isin(['aa','cc'])]

aa    10
cc    30
dtype: int64

In [43]:
#sr.isin([10,20])  # = (sr == 20) | (sr == 40) 
#sr[ ~sr.isin([10,20])]
sr[sr.isin([10,20])]

cc    30
dd    40
dtype: int64