In [17]:
from urllib.request import urlopen, Request

In [18]:
import urllib

In [19]:
# kakao REST API 키
KAKAO_REST_API_KEY = 'd99f329dfcdb238f998f101230a64885'
URL_BASE = 'https://dapi.kakao.com/v2/search/web'
# 한글을 웹으로 전송시 인코딩 처리한다
# '문자열'.encode("utf-8")
PARAMS = 'query=%s&page=1&size=50' % urllib.parse.quote('서가대')
HEADER = 'KakaoAK %s' % KAKAO_REST_API_KEY
PARAMS

'query=%EC%84%9C%EA%B0%80%EB%8C%80&page=1&size=50'

In [20]:
# 헤더 설정
url = '%s?%s' % (URL_BASE, PARAMS)
url

'https://dapi.kakao.com/v2/search/web?query=%EC%84%9C%EA%B0%80%EB%8C%80&page=1&size=50'

In [21]:
request = Request(url)

In [22]:
request.add_header("Authorization", HEADER)

### http 요청
- 테스트

In [38]:
response = urlopen( request )

In [39]:
# 응답 결과를 json으로 파싱
import json

In [40]:
tmp = json.load( response )
tmp

{'meta': {'dup_count': 1311,
  'pageable_count': 689,
  'total_count': 138665,
  'is_end': False},
 'documents': [{'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': '음악 관련 정보 대한민국의 대중음악 시상식 [ 펼치기 · 접기 ] 가온차트 일간스포츠 스포츠서울 한국대중음악상 소리바다 멜론 스타뉴스 엠넷 지니뮤직 대한가수협회 스포츠서울의 시상식 서울가요대상 더...',
   'title': '서울가요대상 - 나무위키',
   'url': 'https://namu.wiki/w/%EC%84%9C%EC%9A%B8%EA%B0%80%EC%9A%94%EB%8C%80%EC%83%81'},
  {'datetime': '2019-01-15T16:21:57.000+09:00',
   'contents': "하, 정말 추웠어요. 이렇게 추운 날 고척 스카이돔에서는 스타들이 한자리에?! 바로 제28회 하이원 서울가요대상(<b>서가대</b>)이 열렸어요. 출처: 머니S, '빵야TV' 뭐길래.. 2019 서울가요대상(<b>서가대</b>) 생중계...",
   'title': '[MAXIM KOREA] 무리수 의상으로 실검 올킬한 <b>서가대</b> MC 한초임 (너무 추워..ㄷㄷㄷ) - 1boon',
   'url': 'https://1boon.kakao.com/maxim/2329'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': "UPDATED. 2019-01-15 16:21 (화) <b>서가대</b>(서울가요대상) 김새론, 스카이캐슬 김보라와 절친 인증샷 '화제' 김경욱 김새론과 김보라의 친분이 돋보이는 셀카가 화제다. 제 28회 하이원 서울가요대상(<b>서가대</b>)에...",
   'title': "<b>서가대</b>(서울가요대상) 김새론, 스카이캐슬 김보라와 절친 인증샷 '화제'",
   'url': 'http://www.whitepaper.co.kr/news/articleView.html?idxno=138570'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': "UPDATED. 2019-01-15 18:26 (화) '빵야TV', 홈페이지 '마비'..네티즌 '<b>서가대</b> 중계 이럴거면 하지마' '불만 폭주' 김경욱 빵야TV가 검색어에 오르며 네티즌의 시선을 모은다. 빵야TV는 오늘(15일) 진행되는...",
   'title': "'빵야TV', 홈페이지 '마비'..네티즌 '<b>서가대</b> 중계 이럴거면 하지마' '불만 폭주'",
   'url': 'http://www.whitepaper.co.kr/news/articleView.html?idxno=138615'},
  {'datetime': '2019-01-15T20:52:00.000+09:00',
   'contents': '받았다. 마마무는 15일 오후 서울 구로구 고척스카이돔에서 열린 \'제 28회 하이원 서울가요대상\'(<b>서가대</b>)에서 본상 트로피를 품에 안았다. 마마무는 "뜻깊은 상 주셔서 감사드린다"며 "팬들 응원해주셔서 고맙다...',
   'title': '[2019 <b>서가대</b>] 마마무, 본상 수상.."새해 복 많이 받으세요~"',
   'url': 'http://www.diodeo.com/news/view/3256505'},
  {'datetime': '2019-01-15T20:08:00.000+09:00',
   'contents': '방탄소년단이 TXT를 언급했다. 15일 ‘제28회 하이원 서울가요대상’(이하 ‘<b>서가대</b>’)에는 방탄소년단이 본상을 수상해 무대에 올랐다. 이날 방탄소년단의 본상 수상에 MC들은 “2018년을 누구보다 뜨겁게 보낸 세계...',
   'title': '‘<b>서가대</b>’ 방탄소년단 “새 앨범 준비 중” 깜짝 발표…후배 TXT 챙기기 ‘눈길’',
   'url': 'http://www.slist.kr/news/articleView.html?idxno=62218'},
  {'datetime': '2019-01-16T00:00:00.000+09:00',
   'contents': '포털사이트 실시간 검색어 1위에 등극했습니다. 급상승 검색어 중엔 카밀라도 함께였죠. 한초임은 \'<b>서가대</b>\'가 끝난 뒤 \'CBS노컷뉴스\'와의 인터뷰에서 소감을 남겼습니다. "오늘 입은 드레스는 코디가 아니라 제...',
   'title': '"\'<b>서가대</b>\' 드레스, 코디 없이 직접 리폼했다" (\'카밀라\' 한초임)',
   'url': 'https://www.dispatch.co.kr/2000757'},
  {'datetime': '2019-01-15T20:57:00.000+09:00',
   'contents': '우도환이 레드벨벳과 조이를 응원했다. 15일 ‘제28회 하이원 서울가요대상’(이하 ‘<b>서가대</b>’)에는 지난해 함께 드라마를 촬영한 레드벨벳 조이를 응원하는 우도환의 모습이 그려졌다. 이날 배우 우도환과 나나는...',
   'title': '‘<b>서가대</b>’ 우도환, 레드벨벳 조이 응원 “좋은 음악으로 행복하게 해주세요”',
   'url': 'http://www.slist.kr/news/articleView.html?idxno=62222'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': "꾸몄다. 스트레이키즈는 15일 오후 서울 구로구 고척스카이돔에서 열린 '제 28회 하이원 서울가요대상'(<b>서가대</b>)에서 신인상 수상 후 무대에 올랐다. 스트레이키즈는 'I am YOU'로 가창력을 뽐내는가 하면...",
   'title': "[2019 <b>서가대</b>] 스트레이키즈, 특별 무대..시선 강탈 '카리스마'",
   'url': 'https://www.dispatch.co.kr/2000609'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': '기사검색 검색 UPDATED. 2019-01-15 17:23 (화) 부산 서울관악 목포 전남동부 서울 마포&amp;홍대 \'<b>서가대</b>\' 스페셜 게스트 이름 올린 안현모, "나나와 함께 갑니다" 정연 (사진=안현모 페이스북) \'동상이몽2\'를...',
   'title': '\'<b>서가대</b>\' 스페셜 게스트 이름 올린 안현모, "나나와 함께 갑니다"',
   'url': 'http://www.fntoday.co.kr/news/articleView.html?idxno=177535'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': "출처 : 빵야tv가 팬심을 후끈 달구고 있다 / mainsite화면 [로이슈 김가희 기자] 15일 빵야tv가 '<b>서가대</b>' 영향으로 접속률이 후끈 달아오를 정도로 관심이 모아지고 있다. 이날 유저들은 빵야tv를 통해 이날...",
   'title': "빵야tv, 후끈 달아오르는 '<b>서가대</b>' 현장 그대로...팬심이 술렁인다",
   'url': 'http://www.lawissue.co.kr/view.php?ud=2019011517582255562d12411ff9_12'},
  {'datetime': '2019-01-14T11:52:19.000+09:00',
   'contents': '동이 <b>서가대</b> 토욜인줄 알고 알바 일정 정할때 토욜빼고 화욜로 일정 잡았는데 <b>서가대</b> 화욜이누ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ 디지러가고싶다 진짜 - dc official App',
   'title': '<b>서가대</b> 가구 싶누 ㅠㅠ - 마마무 갤러리',
   'url': 'http://gall.dcinside.com/board/view/?id=mamamoo&no=1610566'},
  {'datetime': '2019-01-16T12:12:00.000+09:00',
   'contents': '오셔서 찾아봄. 근데 결국 티켓은 없었음. 완전 분실. 나보고 조금만 기다려 달라고 하시길래 그때는 <b>서가대</b> 까지 시간이 일주일 넘게 남아있어서 알겠다고 했다. 이틀 정도 지난 후에 기사님께 전화가 왔다...',
   'title': '씨제이 택배의 무책임한 행동. <b>서가대</b> 티켓 분실.',
   'url': 'https://pann.nate.com/talk/344915763?page=1'},
  {'datetime': '2019-01-15T16:33:02.000+09:00',
   'contents': "(출처=안현모 SNS, 슈어) 방송인 겸 동시통역사 안현모가 걸그룹 애프터스쿨 출신 나나와 함께 '<b>서가대</b>' 무대에 오른다. 15일 막을 올리는 서울가요대상(이하 '<b>서가대</b>') 특별게스트로 안현모와 나나가 이름을...",
   'title': '안현모·나나 \'<b>서가대</b>\' 무대 나란히 선다…"스페셜 게스트 이름 올려"',
   'url': 'http://www.etoday.co.kr/news/section/newsview.php?idxno=1711028'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': '황민현, 배진영, 하성운)이 참석한 가운데 15일 서울 구로구 고척스카이돔에서 ‘2019 서울가요대상, <b>서가대</b>’가 열렸다. 워너원 박지훈이 포토타임을 갖고 있다. 워너원은 지난 해 12월 31일 계약이 만료된 한시...',
   'title': '[국제포토] 워너원 박지훈 ‘뭐? 뽀뽀하자고?’ (<b>서가대</b>, 2019 서울가요대상)',
   'url': 'http://www.kookje.co.kr/mobile/view.asp?gbn=v&code=0500&key=20190115.99099006301#cb'},
  {'datetime': '2019-01-16T00:00:00.000+09:00',
   'contents': "0 '<b>서가대</b>' 한초임 누구? #러브캐처 #카밀라 리더 #소속사 대표 /한초임, 카밀라, <b>서가대</b> 한초임, 사진=김현우 기자 한초임이 전신 시스루 의상으로 화제를 모으고 있는 가운데 한초임에 대해 관심이 집중...",
   'title': '‘<b>서가대</b>’ 한초임 누구? #러브캐처 #카밀라 리더 #소속사 대표',
   'url': 'http://www.asiatoday.co.kr/view.php?key=20190115002254486'},
  {'datetime': '2019-01-16T00:00:00.000+09:00',
   'contents': '이대휘 <b>서가대</b> 청초한듯 귀여운 프리뷰 - 케이돌토크 카테고리 케톡스퀘어 https://theqoo.net/980998185 https://img.theqoo.net/ybiaA https://img.theqoo.net/PQtNw...',
   'title': '이대휘 <b>서가대</b> 청초한듯 귀여운 프리뷰',
   'url': 'https://theqoo.net/index.php?mid=ktalk&document_srl=980998185'},
  {'datetime': '2019-01-12T12:52:00.000+09:00',
   'contents': "2017 : 방탄소년단 'DNA' / 아이유 '밤편지' 33. 2018 : 방탄소년단 'IDOL' / 아이콘 '사랑을 했다' -<b>서가대</b>- 1. 1990 : 변진섭 '너에게로 또 다시' 2. 1991 : 태진아 '미안 미안해' 3. 1992 : 서태지와 아이들...",
   'title': '골디랑 <b>서가대</b> 역대 대상이래',
   'url': 'https://pann.nate.com/talk/344851691'},
  {'datetime': '2019-01-16T10:34:30.000+09:00',
   'contents': "스웩 멍뭉이[SNS★컷] http://naver.me/5X5GEgdc 서울경제 워너원 강다니엘, '흥부자 매력' 폭발···'<b>서가대</b>' 백스테이지 영상 공개 http://naver.me/FtgeizEn 마이데일리 (인별) 강다니엘, ‘<b>서가대</b>’ 시상식서...",
   'title': '[기사]<b>서가대</b> 엔딩 흥부자랑 인별 4개 모아왔오 - 강다니엘 갤러리',
   'url': 'http://gall.dcinside.com/board/view/?id=kdani&no=964046'},
  {'datetime': '2019-01-15T17:43:02.000+09:00',
   'contents': "방송을 통해 중계될 예정이다. 15일 고척 스카이돔에서 개최되는 제28회 하이원 서울가요대상(이하 '<b>서가대</b>')에는 글로벌 인기를 뽐내는 여러 스타들이 모여 무대를 이끌어갈 전망이다. 이날 MC는 그룹 슈퍼...",
   'title': "'<b>서가대</b>', 글로벌 인기 누리는 무대 보려면 어디로",
   'url': 'http://www.greened.kr/news/articleView.html?idxno=90870'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': '기사검색 검색 UPDATED. 2019-01-15 23:05 (화) 부산 서울관악 목포 전남동부 서울 마포&amp;홍대 한초임, <b>서가대</b> 레드카펫 역대급 노출女…"too much!" 정기석 ⓒ 카밀라 한초임이 역대급 레드카펫을 선보이며 시선...',
   'title': '한초임, <b>서가대</b> 레드카펫 역대급 노출女…"too much!"',
   'url': 'http://www.fntoday.co.kr/news/articleView.html?idxno=177550'},
  {'datetime': '2019-01-16T10:11:11.000+09:00',
   'contents': '맛’ 서울 동대문구 맛집…52년 전통 홍어삼합 박정민 기자 0 [박정민 기자] 아이콘이 ‘제28회 서울가요대상’(<b>서가대</b>)에서 찍은 단체 사진을 공개했다. 최근 아이콘의 정찬우는 자신의 인스타그램에 “#<b>서가대</b>...',
   'title': '‘<b>서가대</b>’ 최고 음원상 아이콘, 트로피 들고 신났어…‘명불허전 음원킹’',
   'url': 'http://www.topstarnews.net/news/articleView.html?idxno=568007'},
  {'datetime': '2019-01-16T09:23:54.000+09:00',
   'contents': '회원가입 검색 손혜원, 목포 부동산 투기 의혹 “집안일 때문에 사라고 해서…” 소유주 조카 고백 ‘<b>서가대</b>‘ 한초임, 거친 숨 부른 은밀한 시스루? “MC 솜씨는…사타구니 라인만 강조돼” [동상이몽2] 안현모, 말과...',
   'title': '‘<b>서가대</b>‘ 한초임, 거친 숨 부른 은밀한 시스루? “MC 솜씨는…사타구니 라인만 강조돼”',
   'url': 'http://www.ilyosisa.co.kr/news/articleView.html?idxno=202245'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': "서울가요대상(<b>서가대</b>) 한초임이 파격 시스루 드레스로 시선을 모았다. 15일 한초임은 서울 구로구 고척스카이돔에서 열린 '제28회 하이원 서울가요대상' 레드카펫에 참석했다. 이날 한초임은 속이 드러나는...",
   'title': '‘<b>서가대</b>’ 한초임, 파격 시스루 드레스로 레드카펫 시선 집중! ‘깜짝!’',
   'url': 'http://news.mtn.co.kr/newscenter/news_viewer.mtn?gidx=2019011517105461680'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': '작년 <b>서가대</b> 존나 쩔었던 내돌을 봐줘 (ㅈㅇ 박지훈) - 케이돌토크 카테고리 https://theqoo.net/980465109 https://img.theqoo.net/aRpjs https://img.theqoo.net/HFtha...',
   'title': '작년 <b>서가대</b> 존나 쩔었던 내돌을 봐줘 (ㅈㅇ 박지훈)',
   'url': 'https://theqoo.net/index.php?mid=ktalk&document_srl=980465109'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': "보다 더 뜨겁다. 각종 포털 사이트 검색어 1위를 달리고 있다. '제28회 하이원 서울가요대상'(이하 '<b>서가대</b>') 레드카펫 및 포토월 행사가 15일 오후 서울 구로구 고척 스카이돔에서 개최됐다. 이날 한초임은...",
   'title': "[M+현장] '파격 그 자체' 한초임, '<b>서가대</b>' 밀어내고 검색어 1위 '핫스타'",
   'url': 'http://www.mbcsportsplus.com/news/?mode=view&cate=73&b_idx=99866698.000'},
  {'datetime': '2019-01-15T22:39:58.000+09:00',
   'contents': '영화 ‘스파이더맨 파프롬홈’ 제이콥 배덜런, 기대감 상승시키는 ‘환한 표정’…개봉일은 언제?[이슈] ‘<b>서가대</b> 의상논란’ 한초임, 카밀라 정유빈-정유나 의상도 충격…’댄싱나인’→’러브캐처’로는 부족했던 인지도...',
   'title': '[2019 서울가요대상(<b>서가대</b>)] 방탄소년단(BTS), ‘본상’-‘최고 앨범상’-‘대상’ 수상…‘3관왕에 빛나는...',
   'url': 'http://www.topstarnews.net/news/articleView.html?idxno=567741'},
  {'datetime': '2019-01-16T10:15:43.000+09:00',
   'contents': "카밀라 인스타그램 한초임이 파격적인 드레스로 눈길을 끌었다. 한초임은 15일 오후 서울 고척스카이돔에서 열린 '제28회 하이원 서울가요대상' 포토월 행사에서 배우 권혁수와 함께 레드카펫 행사의 MC를...",
   'title': "카밀라 한초임, '<b>서가대</b>' 사로잡은 시스루 드레스 '아찔'",
   'url': 'http://golfhankook.hankooki.com/01_news/NewsView.php?category=16&gsno=10228132'},
  {'datetime': '2019-01-15T20:50:57.000+09:00',
   'contents': "멤버 한초임이 아슬아슬한 옷을 입으며 세간의 관심을 모았다. 15일 진행된 2019 서울가요대상(이하 '<b>서가대</b>')에서 한초임은 수영장에서 입을법한 옷을 입고 보디라인을 드러냈다. 특히 그녀가 선택한 옷은 누드...",
   'title': '\'<b>서가대</b>\' 한초임, 아슬아슬한 의상 선보여…"살색이 너무 많은 것 같다"',
   'url': 'http://www.thegolftimes.co.kr/news/articleView.html?idxno=38564'},
  {'datetime': '2019-01-16T12:57:06.000+09:00',
   'contents': '마마 신인상 받고 이런저런 말들이 돌아서 속상했었는데 <b>서가대</b> 신인상 받으니 기분이가 짱 좋네요. 상은 아이즈원이 받았지만 신인상 후보들 모두 훌륭하고 좋은 가수들입니다. 모두 수고했어요~',
   'title': '오늘의유머 - 우리 아이들 <b>서가대</b> 신인상 탔어요!!!! gif',
   'url': 'http://m.todayhumor.co.kr/view.php?table=star&no=458758&page=1'},
  {'datetime': '2019-01-14T16:10:07.000+09:00',
   'contents': "2018년 가요계 가장 빛난 별은? 지난해 가요계를 결산하는 '제28회 하이원 서울가요대상'이 15일 저녁 고척 스카이돔에서 화려한 막을 올립니다. 출처: 스포츠서울DB, 지난해 '방탄소년단'이 들어 올렸던...",
   'title': "타임머신] '<b>서가대</b>' 1회 대상 주인공, 누구였을까요? - 1boon",
   'url': 'https://1boon.kakao.com/sportsseoul/seoulmusicawards'},
  {'datetime': '2019-01-11T05:13:11.000+09:00',
   'contents': '" 엑소 백현이 <b>서가대</b> 메이크업 몰라? " (feat. 킬미힐미 허숙희) 메이크업 관심 있는 분들에겐 유명한 엑소 백현의 <b>서가대</b> 버건디 메이크업 여자들도 소화하기 어려운 화려한 메이크업도 잘 소화하는 백현이가...',
   'title': '[예인잡담] 엑소 백현 <b>서가대</b> 메이크업',
   'url': 'https://www.instiz.net/fan?no=1096504&page=9&category=1'},
  {'datetime': '2019-01-15T00:00:00.000+09:00',
   'contents': '하이원 <b>서가대</b> 아이즈원 신인상.gif 이름: 등록일: 2019-01-15 19:25 조회수: 391 / 추천수: 0 1547547439-2.gif (3939.8 KB) 1547547439-3.gif (6010.5 KB) More files(3)... 요욜 신인상...',
   'title': '하이원 <b>서가대</b> 아이즈원 신인상.gif',
   'url': 'http://www.ppomppu.co.kr/zboard/view.php?id=freeboard&no=6242192'},
  {'datetime': '2019-01-16T00:00:00.000+09:00',
   'contents': '살짝 비웃듯이 웃는데 그게 너무너무 섹시하고 좋음 ㅠㅠ 이렇게 살짝 비웃듯이 ㅠㅠㅠ 엔딩장인 ㅠㅠㅠ 엔딩요정 ㅠㅠㅠㅠㅠㅠ 크흐흡ㅠㅠㅠㅠㅠㅠㅠㅠㅠ <b>서가대</b> Prev 오늘방문: 726 회원수: 1,069 (+0) 동접',
   'title': '몬스타엑스 <b>서가대</b> 무대- 원호 귀엽거나 멋있거나',
   'url': 'http://sudaho.com/talk/496801'},
  {'datetime': '2019-01-15T22:56:58.000+09:00',
   'contents': '받아? 샤이니?" 라고 할 정도로 유료투표에 피와 땀을 쏟아 꼭 받게 하는 샤이니 팬들. 심지어 이번 <b>서가대</b> 인기상 모금비는 남았음 "투표권이 모지라면 유료로 사면 되잖아" "태민아 누나 월급 들어왔어" 등등...',
   'title': '[인티포털] 오늘 <b>서가대</b> 인기상으로 총 14번의 인기상을 탄 그룹',
   'url': 'https://www.instiz.net/pt?no=4999248&page=1&category=3'},
  {'datetime': '2019-01-15T23:51:00.000+09:00',
   'contents': '무대 중이네요. 이전 시상식들에선 다른 아이돌그룹들도 립싱크 무대 많이 해서 그닥 튀진않았는데, <b>서가대</b>는 특이하게 아이즈원,뉴이스트 정도 제외하고는 다 라이브 해버려서...사실 시상식,콘서트에선 라이브...',
   'title': '[걸그룹] 아이즈원은 <b>서가대</b>에서도 립싱크무대 했네요',
   'url': 'http://www.gasengi.com/main/board.php?bo_table=commu_etn&wr_id=857552'},
  {'datetime': '2019-01-15T15:19:38.000+09:00',
   'contents': "01-15 14:44:39수정 : 2019-01-15 14:26:18게재 : 2019-01-15 14:44:48 클라라 인스타그램 '결혼' 클라라, <b>서가대</b>로 한국 연예활동 시작 …신혼집은 롯데 시그니엘 레지던스 '새댁' 클라라(34·한국명 이성민)가...",
   'title': "'결혼' 클라라, <b>서가대</b>로 한국 연예활동 시작 …신혼집은 롯데 시그니엘 레지던스",
   'url': 'http://www.busan.com/view/busan/view.php?code=2019011514261889568'},
  {'datetime': '2019-01-15T10:06:13.000+09:00',
   'contents': '코리아 뮤직 페스티벌때 백스테이지 가수들 동의 없이 촬영 (백스테이지 몰카)한 곳이라고 기사까지 남 <b>서가대</b> 담당자가 정신 나갔다고 봐야. 저런 쓰레기 같은 곳을 V앱 포기하고 새로운 생중계 서비스로 택하다니',
   'title': '오늘의유머 - 오늘 <b>서가대</b> 생중계 빵야 tv 정체',
   'url': 'http://m.todayhumor.co.kr/view.php?table=star&no=458691&page=1'},
  {'datetime': '2017-01-20T00:00:00.000+09:00',
   'contents': '옥중화에서도 젊은 한상국 역할로 출연하며 단역임에도 불구하고 존재감을 내비쳤다. 예의바른!? <b>서가대</b> MC라는 제목으로 올라온 글들에 네티즌들은 "와..." , "조용히 올라가는 추천수" , "딩동형 성공했네...',
   'title': 'ㅇㅎㅂ) 예의바른 <b>서가대</b> MC',
   'url': 'http://fun.pullbbang.com/fun/funView.pull?category2_code=1&code=16384845'},
  {'datetime': '2018-11-29T00:00:00.000+09:00',
   'contents': '여기 총판 25만장. 그리고 우리 아이즈원이 총판20만장에 음원 좋음 아이들이 음판은 별론데 음원이 <b>서가대</b>는 누적이라고 하니 우리 보다 좋은... 남1,여2이면 무난한데 괜히 남2,여1 줘서 끝까지 경합할까봐...',
   'title': '아이즈원] <b>서가대</b> 신인상 3팀 받는데 남2,여1 받을 수도 있죠?',
   'url': 'http://mlbpark.donga.com/mp/b.php?p=1&b=bullpen&id=201811290025802771&select=&query=&user=&site=naver.com&reply=&source=&sig=h6jcHl-YkhjRKfX@hljXGY-AKmlq'},
  {'datetime': '2018-01-25T17:37:17.000+09:00',
   'contents': "UPDATED. 2018-09-20 18:22 (목) 설인아, '<b>서가대</b>' 출신의 몸매 관리 비법은? 김선우 ▲ (사진제공=앳스타일) 한국방문의 해 기념 제 27회 하이원 '서울가요대상(이하 <b>서가대</b>)'이 화제가 되고 있는 가운데 <b>서가대</b>...",
   'title': "설인아, '<b>서가대</b>' 출신의 몸매 관리 비법은?",
   'url': 'http://www.queen.co.kr/news/articleView.html?idxno=218176'},
  {'datetime': '2018-01-25T21:03:06.000+09:00',
   'contents': 'UPDATED. 2018-09-21 19:37 (금) \'딸의 소원\' 방탄소년단, "<b>서가대</b> 이전 만난 전설적 액션 스타 견자단...사진교환의 사연은?" 정유미 ▲ (사진= 온라인 커뮤니티) \'서울가요대상\'(이하 <b>서가대</b>)에 대중들의 시선...',
   'title': '딸의 소원\' 방탄소년단, "<b>서가대</b> 이전 만난 전설적 액션 스타 견자단...사진교환의 사연은?"',
   'url': 'http://www.queen.co.kr/news/articleView.html?idxno=218192'},
  {'datetime': '2017-01-19T18:53:00.000+09:00',
   'contents': "사진= 제25회 서울 가요대상 '서울가요대상'이 코앞으로 다가왔다. '<b>서가대</b>' 엑소 백현 메이크업이 화제다. 2016년 가요계를 총 결산하는 제 26회 하이원 서울 가요대상 시상식이 19일 오후 7시에 개최된다...",
   'title': "'<b>서가대</b>' 백현, 올해는 어떤 '레전드' 메이크업 선보일지...'<b>서가대</b> 백현 메이크업' 눈길",
   'url': 'http://www.viva100.com/main/view.php?key=20170119001850062'},
  {'datetime': '2014-09-23T13:55:48.000+09:00',
   'contents': '시각장애인을 위한 <b>서가대</b>가 국내 병원 중에서는 처음으로 서울대병원 도서관 ‘함춘서재’에 들어섰다. <b>서가대</b>는 가로 2350mm, 세로 3500mm 규모다. 이곳에는 ‘꿈꾸는 다락방’ 외 점자도서 182...',
   'title': '함춘서재에 시각장애인용 <b>서가대</b> 등장',
   'url': 'http://www.monews.co.kr/news/articleView.html?idxno=76943'},
  {'datetime': '2019-01-16T00:00:00.000+09:00',
   'contents': '<b>서가대</b> 카밀라 한초임의 노출정도',
   'title': '<b>서가대</b> 카밀라 한초임의 노출정도',
   'url': 'http://www.pullbbang.com/movie/movieView.pull?code=16846648'},
  {'datetime': '2019-01-16T02:39:22.000+09:00',
   'contents': '텐아시아=노규민 기자] ‘2019 서울가요대상’ 방탄소년단 대상 수상/ 사진=방송화면 ‘2019 서울가요대상’에서 방탄소년단이 대상을 수상하는 순간, 시청률이 급상승했다. 지난 15일 오후 서울 고척 스카이돔...',
   'title': '‘2019 <b>서가대</b>’ BTS 대상 수상, 시청률 급상승…10대 女 가장 많이 봤다',
   'url': 'http://tenasia.hankyung.com/archives/1641333'},
  {'datetime': '2018-12-10T00:00:00.000+09:00',
   'contents': '아이즈원 유력 골든디스크 - 80프로는 음원음반성적 가온차트를 기준으로 하니 또다시 매우 유력 <b>서가대</b> - 40프로 음원및 음반 20프로 투표 30프로 심사위원 10프로 기타 그나마 누가 탈지 애매하긴함 <b>서가대</b>...',
   'title': '아이즈원이 남은 가온 골디 <b>서가대</b> 신인상 유력이유',
   'url': 'http://soccerline.kr/board/15022752?searchWindow=&searchType=0&searchText=&categoryDepth01=0&page=0'},
  {'datetime': '2019-01-15T10:46:11.000+09:00',
   'contents': '텐아시아=우빈 기자] ‘2019 서울가요대상’에서 발라드 부문상을 수상한 가수 임창정 / 사진=방송화면 캡처 가수 임창정이 ‘제28회 하이원 서울가요대상’ 발라드 부문상 수상 영광을 안았다. 15일 오후 서울 구로...',
   'title': '‘<b>서가대</b>’ 임창정 “내년에는 내가 만든 후배들이 상 받도록 도전”',
   'url': 'http://tenasia.hankyung.com/archives/1640709'},
  {'datetime': '2016-01-15T18:20:00.000+09:00',
   'contents': "<b>서가대</b> 김준수가 화제인 가운데 <b>서가대</b> 김준수 연인 하니 화보가 주목을 받고 있다. <b>서가대</b> 김준수 연인 하니는 과거 남성스타일 매거진 '긱(GEEK)'과 화보 촬영을 진행한 바 있다. 공개된 화보 속 하니는 풍만...",
   'title': "<b>서가대</b> 김준수 연인 하니, 아슬아슬 섹시미 과시한 화보 '시선올킬'",
   'url': 'http://www.viva100.com/main/view.php?key=20160115001816297'},
  {'datetime': '2019-01-16T13:58:07.000+09:00',
   'contents': 'ⓒ 한초임 SNS [이코노믹리뷰=김윤정 기자] 카밀라 한초임이 극과극 매력으로 온라인을 뜨겁게 달구고 있다. 그의 남다른 미모가 남성 팬들을 사로잡으면서 청순과 섹시 매력이 화제를 모으고 있는 것. 최근...',
   'title': '카밀라 한초임 vs <b>서가대</b> 한초임, 동일 인물 맞아?',
   'url': 'http://www.econovill.com/news/articleView.html?idxno=354762'}],
 'g': []}

### 데이터 추출

In [41]:
tmp['documents'][0]['title']

'서울가요대상 - 나무위키'

In [42]:
tmp['documents'][0].keys()

dict_keys(['datetime', 'contents', 'title', 'url'])

In [43]:
for i in range( len(tmp['documents']) ):
    # 데이터 전처리 : <b>, </b> 제거
    print( tmp['documents'][i]['title'].replace('<b>','').replace('</b>','') )

서울가요대상 - 나무위키
[MAXIM KOREA] 무리수 의상으로 실검 올킬한 서가대 MC 한초임 (너무 추워..ㄷㄷㄷ) - 1boon
서가대(서울가요대상) 김새론, 스카이캐슬 김보라와 절친 인증샷 '화제'
'빵야TV', 홈페이지 '마비'..네티즌 '서가대 중계 이럴거면 하지마' '불만 폭주'
[2019 서가대] 마마무, 본상 수상.."새해 복 많이 받으세요~"
‘서가대’ 방탄소년단 “새 앨범 준비 중” 깜짝 발표…후배 TXT 챙기기 ‘눈길’
"'서가대' 드레스, 코디 없이 직접 리폼했다" ('카밀라' 한초임)
‘서가대’ 우도환, 레드벨벳 조이 응원 “좋은 음악으로 행복하게 해주세요”
[2019 서가대] 스트레이키즈, 특별 무대..시선 강탈 '카리스마'
'서가대' 스페셜 게스트 이름 올린 안현모, "나나와 함께 갑니다"
빵야tv, 후끈 달아오르는 '서가대' 현장 그대로...팬심이 술렁인다
서가대 가구 싶누 ㅠㅠ - 마마무 갤러리
씨제이 택배의 무책임한 행동. 서가대 티켓 분실.
안현모·나나 '서가대' 무대 나란히 선다…"스페셜 게스트 이름 올려"
[국제포토] 워너원 박지훈 ‘뭐? 뽀뽀하자고?’ (서가대, 2019 서울가요대상)
‘서가대’ 한초임 누구? #러브캐처 #카밀라 리더 #소속사 대표
이대휘 서가대 청초한듯 귀여운 프리뷰
골디랑 서가대 역대 대상이래
[기사]서가대 엔딩 흥부자랑 인별 4개 모아왔오 - 강다니엘 갤러리
'서가대', 글로벌 인기 누리는 무대 보려면 어디로
한초임, 서가대 레드카펫 역대급 노출女…"too much!"
‘서가대’ 최고 음원상 아이콘, 트로피 들고 신났어…‘명불허전 음원킹’
‘서가대‘ 한초임, 거친 숨 부른 은밀한 시스루? “MC 솜씨는…사타구니 라인만 강조돼”
‘서가대’ 한초임, 파격 시스루 드레스로 레드카펫 시선 집중! ‘깜짝!’
작년 서가대 존나 쩔었던 내돌을 봐줘 (ㅈㅇ 박지훈)
[M+현장] '파격 그 자체' 한초임, '서가대' 밀어내고 검색어 1위 '핫스타'
[2019 서울가요대상(서가대)] 방탄소년단(BTS), ‘본상’-‘최고 앨범상’-‘대상’ 수상…‘3관왕에 빛나는...
카밀라 한초임, '서가대' 사로잡은 시스루 드레스 '아찔'
'서가대' 한초임, 아슬아슬한 의상 선보여…"살색이 너무 많은 것 같다"
오늘의유머 - 우리 아이들 서가대 신인상 탔어요!!!! gif
타임머신] '서가대' 1회 대상 주인공, 누구였을까요? - 1boon
[예인잡담] 엑소 백현 서가대 메이크업
하이원 서가대 아이즈원 신인상.gif
몬스타엑스 서가대 무대- 원호 귀엽거나 멋있거나
[인티포털] 오늘 서가대 인기상으로 총 14번의 인기상을 탄 그룹
[걸그룹] 아이즈원은 서가대에서도 립싱크무대 했네요
'결혼' 클라라, 서가대로 한국 연예활동 시작 …신혼집은 롯데 시그니엘 레지던스
오늘의유머 - 오늘 서가대 생중계 빵야 tv 정체
ㅇㅎㅂ) 예의바른 서가대 MC
아이즈원] 서가대 신인상 3팀 받는데 남2,여1 받을 수도 있죠?
설인아, '서가대' 출신의 몸매 관리 비법은?
딸의 소원' 방탄소년단, "서가대 이전 만난 전설적 액션 스타 견자단...사진교환의 사연은?"
'서가대' 백현, 올해는 어떤 '레전드' 메이크업 선보일지...'서가대 백현 메이크업' 눈길
함춘서재에 시각장애인용 서가대 등장
서가대 카밀라 한초임의 노출정도
‘2019 서가대’ BTS 대상 수상, 시청률 급상승…10대 女 가장 많이 봤다
아이즈원이 남은 가온 골디 서가대 신인상 유력이유
‘서가대’ 임창정 “내년에는 내가 만든 후배들이 상 받도록 도전”
서가대 김준수 연인 하니, 아슬아슬 섹시미 과시한 화보 '시선올킬'
카밀라 한초임 vs 서가대 한초임, 동일 인물 맞아?

### 수집한 데이터를 DataFrame으로 변환

* 파이썬의 자료구조(핵심데이터)를 pandas의 DaraFrame으로 변환
* DataFrame을 db으로 전송해야 마무리

### 데이터 적제
- 데이터 베이스에 데이터를 넣는다
* pandas를 이용하면 데이터를 덩어리채로 넣을 수있다
- 일단 여기서는 pymysql을 이용하여 데이터를 적제하겟다
> 콘다 프럼프트 오프  
> **pip install pymysql**  
> 콘다 미설치자분들  
> **pip install sqlalchemy**   
> **pip install pandas**

In [51]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import pandas.io.sql as pSql

In [53]:
# tmp['documents']:dict -> DataFrame 변환
df_dict = pd.DataFrame.from_dict( tmp['documents'] )
df_dict.head(2)

,contents,datetime,title,url
0,음악 관련 정보 대한민국의 대중음악 시상식 [ 펼치기 · 접기 ] 가온차트 일간스포...,2019-01-15T00:00:00.000+09:00,서울가요대상 - 나무위키,https://namu.wiki/w/%EC%84%9C%EC%9A%B8%EA%B0%8...
1,"하, 정말 추웠어요. 이렇게 추운 날 고척 스카이돔에서는 스타들이 한자리에?! 바로...",2019-01-15T16:21:57.000+09:00,[MAXIM KOREA] 무리수 의상으로 실검 올킬한 <b>서가대</b> MC 한초...,https://1boon.kakao.com/maxim/2329

In [48]:
# 연결
db_url = 'mysql+pymysql://root:12341234@127.0.0.1/python_db'
engine = create_engine( db_url, encoding='utf8')

In [49]:
# 실연결
conn = engine.connect()

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 519")
  result = self._query(query)

In [50]:
# 수집한 내용을 디비에 삽입
# 테이블명, 연결세션, 중복되면추가, 인덱스열은 미삽입
df_dict.to_sql(name='seoul', con=conn, 
               if_exists='append', index=False)

In [45]:
# 데이터 가져오기
df = pSql.read_sql('select * from tbl_trade', conn)
df

,code,name,cur,rate,updown,amount,sum,cur2,high,low,tAmount,ta_per,ta_cnt,for_cnt,for_per
0,005930,삼성전자,"2,861,000","107,000",3.9,"290,205","827,303,909,524","2,875,000","2,875,000","2,809,000","371,267,661,334,000",19.44,"129,768,494",,
1,000660,SK하이닉스,"85,300","3,100",3.8,"7,067,296","601,022,658,680","86,000","86,000","84,000","62,098,601,734,500",3.25,"728,002,365",,
2,005935,삼성전자우,"2,335,000","95,000",4.2,"58,951","137,238,577,152","2,336,000","2,359,000","2,301,000","43,007,384,300,000",2.25,"18,418,580",,
3,005380,현대차,1,10,-0.3,"601,287","96,579,433,000","159,000","162,000","158,500","35,354,374,879,500",1.85,"220,276,479",,
4,051910,LG화학,"414,500","11,000",2.7,"336,389","138,834,795,264","407,000","419,000","405,500","29,260,526,173,500",1.53,"70,592,343",,
5,028260,삼성물산,"149,500","1,500",1.0,"535,848","79,748,333,000","149,500","150,000","147,000","28,358,661,428,500",1.48,"189,690,043",,
6,035420,NAVER,"860,000","-34,000",-3.8,"232,078","200,397,947,000","870,000","879,000","853,000","28,347,903,940,000",1.48,"32,962,679",,
7,005490,POSCO,"324,000","-1,500",-0.5,"321,169","103,486,430,500","320,500","325,500","320,000","28,248,534,540,000",1.48,"87,186,835",,
8,032830,삼성생명,"137,500","2,500",1.8,"477,774","65,072,851,500","133,000","138,000","132,500","27,500,000,000,000",1.44,"200,000,000",,
9,207940,삼성바이오로직스,"406,000","22,000",5.7,"387,331","153,973,945,000","387,000","408,000","385,500","26,862,990,000,000",1.41,"66,165,000",,
10,015760,한국전력,"38,550",-650,-1.7,"1,560,555","60,148,655,350","38,700","39,000","38,300","24,747,715,168,350",1.30,"641,964,077",,
11,105560,KB금융,"59,000",600,1.0,"1,626,966","95,431,393,486","57,800","59,200","57,600","24,668,580,683,000",1.29,"418,111,537",,
12,055550,신한지주,"50,200",0,0.0,"794,886","39,720,432,900","49,450","50,600","49,450","23,804,819,267,400",1.25,"474,199,587",,
13,017670,SK텔레콤,"263,500",-500,-0.2,"114,066","29,988,293,500","260,500","265,500","260,500","21,276,494,848,500",1.11,"80,745,711",,
14,068270,셀트리온,"171,900","-1,200",-0.7,"1,274,979","221,783,055,900","173,700","178,000","170,700","21,080,994,661,800",1.10,"122,635,222",,
15,034730,SK,"296,000","6,500",2.2,"145,270","42,765,403,500","286,500","297,000","285,000","20,826,647,912,000",1.09,"70,360,297",,
16,096770,SK이노베이션,"207,500","2,500",1.2,"257,641","52,945,739,000","203,000","207,500","202,500","19,186,604,530,000",1.00,"92,465,564",,
17,051900,LG생활건강,"1,161,000","-16,000",-1.4,"35,929","41,808,205,000","1,158,000","1,178,000","1,152,000","18,132,726,717,000",0.95,"15,618,197",,
18,090430,아모레퍼시픽,"307,500","-6,500",-2.1,"419,931","131,173,498,500","316,500","318,500","305,000","17,975,985,675,000",0.94,"58,458,490",,
19,018260,삼성에스디에스,"209,000","2,000",1.0,"214,919","44,772,055,000","204,500","211,500","204,000","16,171,960,200,000",0.85,"77,377,800",,
20,006400,삼성SDI,"224,500","18,500",9.0,"1,325,337","292,863,845,000","220,000","224,500","215,000","15,437,636,985,000",0.81,"68,764,530",,
21,066570,LG전자,"92,300","1,300",1.4,"1,413,470","130,653,982,700","91,100","93,400","90,600","15,104,693,232,200",0.79,"163,647,814",,
22,003550,LG,"87,100","1,100",1.3,"404,221","34,975,151,000","83,700","87,200","83,500","15,029,726,110,100",0.79,"172,557,131",,
23,251270,넷마블게임즈,"172,000","-2,000",-1.2,"233,214","40,044,528,000","172,000","173,500","170,000","14,623,166,864,000",0.77,"85,018,412",,
24,010950,S-Oil,"129,000",500,0.4,"220,208","28,306,278,853","128,000","129,500","127,000","14,523,180,168,000",0.76,"112,582,792",,
25,033780,KT&G,"105,500",-500,-0.5,"557,493","58,583,832,263","105,000","106,000","104,500","14,484,358,433,500",0.76,"137,292,497",,
26,000270,기아차,"35,350",-50,-0.1,"879,238","30,904,554,200","34,800","35,400","34,700","14,329,594,316,450",0.75,"405,363,347",,
27,086790,하나금융지주,"47,900",-50,-0.1,"968,279","46,224,681,850","47,200","48,300","47,200","14,178,546,669,800",0.74,"296,003,062",,
28,011170,롯데케미칼,"376,500","7,000",1.9,"194,924","73,191,170,000","368,500","378,500","368,500","12,904,695,253,500",0.68,"34,275,419",,
29,000810,삼성화재,"267,500","-5,500",-2.0,"231,406","61,963,147,000","270,000","273,000","266,000","12,672,768,897,500",0.66,"47,374,837",,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2258,189350,코셋,"1,040",134,14.8,6,"5,790",950,"1,040",950,"4,160,000,000",0.00,"4,000,000",,
2259,252940,에스엠로보틱스,"2,000",180,9.9,711,"1,112,150","1,560","2,000","1,560","4,150,000,000",0.00,"2,075,000",,
2260,001527,동양2우B,"13,300",-150,-1.1,"1,652","21,792,550","13,700","13,700","13,100","4,103,967,700",0.00,"308,569",,
2261,005965,동부건설우,"17,900",-750,-4.0,"8,556","154,092,450","18,650","18,700","17,700","4,040,602,800",0.00,"225,732",,
2262,004985,성신양회우,"5,430",0,0.0,"1,353","7,277,440","5,500","5,500","5,250","3,994,552,350",0.00,"735,645",,
2263,001067,JW중외제약2우B,"47,250",700,1.5,"9,113","426,401,500","46,300","47,650","45,500","3,989,648,250",0.00,"84,437",,
2264,032685,소프트센우,"26,950",700,2.7,"4,728","124,600,600","26,500","26,950","25,750","3,849,996,150",0.00,"142,857",,
2265,000325,노루홀딩스우,"20,450","-1,150",-5.3,"7,405","150,779,000","21,000","21,000","20,100","3,788,362,500",0.00,"185,250",,
2266,000227,유유제약2우B,"22,250","1,100",5.2,"65,260","1,436,071,150","21,000","23,200","20,500","3,650,780,000",0.00,"164,080",,
2267,013367,일성건설2우B,"5,750",-30,-0.5,"196,195","1,137,278,160","5,730","6,080","5,550","3,572,130,000",0.00,"621,240",,
2268,016385,동부제철우,"21,900",950,4.5,"2,403","50,977,250","21,000","21,900","20,700","3,511,314,600",0.00,"160,334",,
2269,002785,진흥기업우B,"4,070",20,0.5,647,"2,608,075","4,100","4,120","3,975","3,488,877,260",0.00,"857,218",,
2270,135270,세종머티리얼즈,919,89,10.7,7,"5,443",919,919,721,"3,354,350,000",0.00,"3,650,000",,
2271,271400,알로이스,"3,350",0,0.0,0,0,0,0,0,"3,316,500,000",0.00,"990,000",,
2272,001799,대한제당3우B,"25,400",-50,-0.2,52,"1,323,200","25,400","25,450","25,400","3,293,262,400",0.00,"129,656",,
2273,008355,남선알미우,"10,250","-1,050",-9.3,"115,517","1,208,852,150","11,400","11,400","10,200","3,155,872,500",0.00,"307,890",,
2274,002787,진흥기업2우B,"9,280",20,0.2,"14,781","136,319,840","9,340","9,440","9,090","2,735,818,240",0.00,"294,808",,
2275,179720,옐로페이,232,0,0.0,81,"18,656",198,232,198,"2,610,000,000",0.00,"11,250,000",,
2276,004989,성신양회3우B,"8,680",180,2.1,144,"1,226,900","8,490","8,680","8,360","2,490,274,640",0.00,"286,898",,
2277,267810,앙츠,"15,800",300,1.9,101,"1,515,800","15,000","15,800","15,000","2,444,260,000",0.00,"154,700",,
2278,272420,극동자동화,"4,815",0,0.0,0,0,0,0,0,"2,407,500,000",0.00,"500,000",,
2279,004987,성신양회2우B,"10,900",100,0.9,"20,733","224,370,950","11,000","11,000","10,600","2,405,553,700",0.00,"220,693",,
2280,001529,동양3우B,"26,050",400,1.6,572,"14,905,700","25,800","26,100","25,800","2,337,258,100",0.00,"89,722",,
2281,260490,캐로스,"1,275",0,0.0,0,0,0,0,0,"2,316,037,500",0.00,"1,816,500",,
2282,208890,에듀케이션파트너,"1,130",0,0.0,"1,572","2,034,750","1,130","1,295","1,130","2,249,626,600",0.00,"1,990,820",,
2283,242850,영현무역,"1,315",130,11.0,"4,923","5,805,615","1,175","1,315","1,175","2,130,300,000",0.00,"1,620,000",,
2284,189540,씨티네트웍스,711,-83,-10.4,987,"897,157",794,910,676,"1,564,192,890",0.00,"2,199,990",,
2285,183410,데카시스템,400,20,5.3,"1,412","616,308",323,437,323,"1,558,478,400",0.00,"3,896,196",,
2286,110660,세신버팔로,191,-33,-14.7,"33,923","6,479,293",191,191,191,"1,146,000,000",0.00,"6,000,000",,
2287,144740,피엠디아카데미,167,21,14.4,2,334,167,167,167,"290,171,518",0.00,"1,737,554",,0

In [32]:
# 해제
conn.close()