In [1]:
import pandas as pd
import numpy as np

In [2]:
data={'kor':[80,30,50,70],'eng':[20,90,90,80],
     'math':[33,44,55,66]}  #키값이 리스트인 경우
df =pd.DataFrame(data,index=['aa','bb','cc','dd'])
df

    kor  eng  math
aa   80   20    33
bb   30   90    44
cc   50   90    55
dd   70   80    66

In [3]:
df.max(axis=1) # axis=1 ->col  #axis=0 ->row 결과 값은 시리즈!

aa    80
bb    90
cc    90
dd    80
dtype: int64

In [4]:
df.min(axis=1)

aa    20
bb    30
cc    50
dd    66
dtype: int64

In [5]:
#sr =df.max()
#sr.max() 
#-> 한 줄로 
df.max().max() # 전체 데이터에서 가장 큰 값을 얻어옴

90

In [6]:
df.sum(axis=1)

aa    133
bb    164
cc    195
dd    216
dtype: int64

In [7]:
df['sum']= df.sum(axis=1) #df.kor + df.math + df.eng
df

    kor  eng  math  sum
aa   80   20    33  133
bb   30   90    44  164
cc   50   90    55  195
dd   70   80    66  216

In [8]:
df.sum().sum()   # 앞의 sum()은 dataFrame , 뒤의 sum()은 Series

1416

In [ ]:
df.mean( axis=1 )

In [ ]:
df.std() # 표준편차

In [ ]:
# df.median()
df.median(axis=1)

In [ ]:
#df.quantile(0.5,axis=1) 
#df.quantile([0.25,0.5,0.75]) # 각각 %에 해당하는값

In [ ]:
df.describe()