In [8]:
import pandas as pd
import numpy as np

In [14]:
data={'kor':[80,30,50,70],'eng':[20,90,90,80],
     'math':[33,44,55,66]}  #키값이 리스트인 경우
df =pd.DataFrame(data,index=['aa','bb','cc','dd'])
df

    kor  eng  math
aa   80   20    33
bb   30   90    44
cc   50   90    55
dd   70   80    66

In [15]:
df.rename(columns={'kor':'국어', 'eng':'영어'},inplace=True)  # col명이나 index명을 바꿀때
df

    국어  영어  math
aa  80  20    33
bb  30  90    44
cc  50  90    55
dd  70  80    66

In [16]:
df.rename(index={'aa':'홍길동', 'cc':'임꺽정'},inplace=True)  # col명이나 index명을 바꿀때
df

     국어  영어  math
홍길동  80  20    33
bb   30  90    44
임꺽정  50  90    55
dd   70  80    66

In [19]:
df.reset_index() # 기존의 index는 col으로 들어감 그리고 무조건 0,1,2,3으로 들어간다

  index  국어  영어  math
0   홍길동  80  20    33
1    bb  30  90    44
2   임꺽정  50  90    55
3    dd  70  80    66

In [21]:
df.set_index('math') # math col이 index로!

      국어  영어
math
33    80  20
44    30  90
55    50  90
66    70  80