In [55]:
import pandas as pd
import numpy as np

In [56]:
sr=pd.Series([10,20,30,40], index=['aa','bb','cc','dd'])
sr

aa    10
bb    20
cc    30
dd    40
dtype: int64

In [57]:
#sr.apply (lambda n: n+2)
sr.apply (lambda n: n+2 if n>=20 else n+1)

aa    11
bb    22
cc    32
dd    42
dtype: int64

In [58]:
sr.max()

40

In [59]:
sr.min()

10

In [60]:
sr.sum()

100

In [61]:
sr[sr>20].sum()

70

In [62]:
sr.mean()

25.0

In [63]:
sr.median()  # 10 20 30 40 에서 두개값더한값 /2

25.0

In [64]:
sr.idxmax()

'dd'

In [65]:
sr.idxmin()

'aa'

In [66]:
sr.std() #값과 값의 평균 12정도 차이가 난다 표준편차.

12.909944487358056

In [68]:
sr.quantile(0.5)

25.0

In [69]:
sr.quantile([0.25,0.5,0.75])

0.25    17.5
0.50    25.0
0.75    32.5
dtype: float64

In [71]:
# for s in sr:
for s in sr.items():  # 시리즈 객체인 .items()를 쓰면 튜플 형태로 반환한다.
       print(s)

('aa', 10)
('bb', 20)
('cc', 30)
('dd', 40)

In [74]:
for i,v in sr.items():
    print(i,v)

aa 10
bb 20
cc 30
dd 40